*{
    margin: 0;
    padding: 0;
}
.mainContain{
    min-width: 100%;
    min-height: 100vh;
    max-height: auto;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows:5vh 40vh auto;
    position: relative;
}
.buscador{
    box-sizing: content-box;
    grid-column: 2/2;
    grid-row: 0/1;
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
    margin-bottom: 10px;
}
form{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display:inline;
   /*  justify-content: flex-start;
    align-items: center; */
    gap: 10px;
    
}
#iconoBuscar:hover{
    transform:scale(1.2) rotate(90deg);
}
#iconoBuscar{
    transform: rotate(90deg);
    cursor: pointer;
    transition: transform 0.2s;
}
input{
    padding: 0;
    border: 0px;
    font-family: sans-serif;
    font-size: 20px;
    width: 90%;
    height: 100%;
    border-bottom: 0px solid black;
    transition: border-bottom 0.2s;
    text-align: center;
}
input:hover{
    border-bottom: 2.5px solid black;
}
input:focus{
    outline: none;
    border-bottom: 5px solid black;
}

input::placeholder{
    text-align: center;
    font-size: 20px;
}
.textoFav{
    display: flex;
    align-items: center;
}
.mainContain>a{
    text-decoration: none;
}
.textoFav>a{
    text-decoration: none;
    color: black;
}
.textoFav>a>p{
    text-decoration:none;
    font-family: sans-serif;
    font-size: 20px;
    transition: all 1s;
}
.textoFav>a>p:hover{
    transform:translateY(-3px) scale(1.01);
    text-shadow: 0px 4px 2px gray ;
}

.iconoFavo{
    display: flex;
    align-items: center;
    transition: all 1s;
}
.iconoFavo:hover{
    transform:translateY(-3px) scale(1.01);
    text-shadow: 0px 4px 2px gray ;
}
.iconoFavo>a{
    color:black;
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;
}
.iconoFavo>a>p{
    color: black;
    font-family: sans-serif ;
}
.contador{
    grid-column: 1/1;
    grid-row: 1/4;
}
.galeria{
    grid-column: 2/2;
    grid-row: 2/2;
    overflow: hidden;
    margin-bottom: 20px;
}
.galeria .deslizador{
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 30s linear infinite ;
    width: calc(200px *29);
}
.galeria .slide{
    width: 200px;
}
.galeria .slide img{
    width: 200px;
    height: 300px;
}
@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform:translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-200px *6));
        transform:translateX(calc(-200px *6));
    }
}
#container{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.cajaPelicula{
    width: 15%;
}
.coverPeli>img{
    height: 200px;
    width: 100px;
    border-radius: 5px
}
.loading-page{
    position: absolute;
    top:0;
    left: 0;
    background: linear-gradient(to right,#020024,#090979,#00d4ff);
    width: 100%;
    height: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#Icons{
    width: 100px;
    height: 100px;
    stroke: #ffff;
    fill-opacity: 0;
    stroke-width: 0.2px;
    stroke-dasharray:4500 ;
    animation: draw 35s ease;
}
@keyframes draw {
    0%{
        stroke-dashoffset: 4500;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
.nombre-logo{
    color: #fff;
    letter-spacing: 12px;
    font-family: sans-serif;
    font-size: 20px;
}